<h1>Thank you for volunteering, <%= @user.name %>! </h1>
<%= link_to "Here are the event's you've signed up for", vevents_path %><br/>

<%= link_to "Volunteer for an Event", events_path %> | <%= link_to 'Edit Your Profile', edit_user_path %> | <%= link_to 'Delete You Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
