<div class="addNewPage">
	<h1 id="addEventTitle">Add New Event!</h1>


	<%= form_for(@event) do |f| %>
	
		<div class="formAddEventTile">
			<div class="addEventInput">
			<%= f.text_field :name, placeholder: "Name" %>
			<%= f.text_field :location , placeholder: "Location" %>
			<%= f.text_field :when , placeholder: "When" %>
			<%= f.text_field :description , placeholder: "Description" %>
			<%= f.text_field :image , placeholder: "Main Image" %>
			<%= f.text_field :contact_phone , placeholder: "Contact Phone" %>
			<%= f.text_field :contact_email , placeholder: "Contact Email" %><br/>
			<%=  f.submit class: "btn btn-primary" %>
	    </div>

	<% end %>
</div>
