<div class="addNewPage">
	
	<%= form_for(@event) do |f| %>
	
		<div class="formAddEventTile">
			<div class="addEventInput">
				<h1 id="addEventTitle">Add New Event!</h1>
				<%= f.text_field :name, placeholder: "Name" %><br/>
				<%= f.text_field :location , placeholder: "Location" %><br/>
				<%= f.datetime_select :when , placeholder: "Date and Time" %><br/>
				<%= f.text_field :description , placeholder: "Description" %><br/>
				<%= f.text_field :image , placeholder: "Main Image" %><br/>
				<%= f.text_field :contact_phone , placeholder: "Contact Phone" %><br/>
				<%= f.text_field :contact_email , placeholder: "Contact Email" %><br/>
				<%=  f.submit class: "btn btn-primary" %>
			</div>
	    </div>

	<% end %>
</div>
