<!DOCTYPE html>
<html>
	<head>
	  <title>VolunteerApp</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>



<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
      	
	    	<a class="navbar-brand">Volunteer App</a>
		
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <button type="button" class="btn btn-info dropdown-toggle navbar-btn" data-toggle="dropdown">
              Menu <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", sign_out_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <%= link_to "Sign in", sign_in_path, class: "btn btn-info navbar-btn" %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>


	<%= yield %>

	</body>
</html>
